[submodule "bundle/vim-csharp"]
	path = bundle/vim-csharp
	url = git://github.com/OrangeT/vim-csharp.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/omnisharp"]
	path = bundle/omnisharp
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "bundle/devicons"]
	path = bundle/devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/wimproved"]
	path = bundle/wimproved
	url = https://github.com/kkoenig/wimproved.vim
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "bundle/protodef"]
	path = bundle/protodef
	url = https://github.com/derekwyatt/vim-protodef
[submodule "fswitch"]
	path = fswitch
	url = https://github.com/derekwyatt/vim-fswitch
[submodule "bundle/fswitch"]
	path = bundle/fswitch
	url = https://github.com/derekwyatt/vim-fswitch
[submodule "bundle/solarized8"]
	path = bundle/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "bundle/desertink"]
	path = bundle/desertink
	url = https://github.com/toupeira/vim-desertink.git
[submodule "bundle/desertEx"]
	path = bundle/desertEx
	url = https://github.com/vim-scripts/desertEx.git
[submodule "bundle/unicode"]
	path = bundle/unicode
	url = https://github.com/chrisbra/unicode.vim
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle\\tslint"]
	path = bundle\\tslint
	url = https://github.com/palantir/tslint
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
