[submodule "bundle/vim-csharp"]
	path = bundle/vim-csharp
	url = git://github.com/OrangeT/vim-csharp.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/omnisharp"]
	path = bundle/omnisharp
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
